section.portal.portal-body
  section.portal.tag-list.area
    h1.portal.sub-title
      Fa(icon='tags')
      | タグリスト
    if !isTagsLoaded()
      Loading
    else
      ul.portal.tag-list-body
        each tag in qTags
          if tag.hasQuestion()
            li(key=tag.id).portal.tag-list-tag
              Fa(icon='tag')
              a(href=tag.uri rel=tag.id onClick=showTaggedIndex)
                span.name= tag.display
                span.count= tag.countText
          else
            li(key=tag.id).portal.tag-list-tag.disabled
              Fa(icon='tag')
              span
                span.name= tag.display
                span.count= tag.countText

  section.portal.source.area
    h1.portal.sub-title
      Fa(icon='link')
      | 出典リスト（予定含む）
    if !isSourcesLoaded()
      Loading
    else
      ul.portal.source-list-body
        each source in sources
          li(key=source.id).portal.source-list-source
            Fa(icon='link')
            a(href=(source.url))= source.display

  section.portal.tag-list.area
    h1.portal.sub-title
      Fa(icon='bullhorn')
      | ところでこれはなに
    section.portal.hello
      p
        | おふくろさま（無職、36歳、男、
        a(href="https://twitter.com/o296sm") @o296sm
        | ）がプログラムの勉強のためにつくっています。
      p
        | ソースは公開していますが、動作保証などはありません。
        a(href="https://github.com/mmmpa/quick_q") https://github.com/mmmpa/quick_q
      p 各問題は使用条件にしたがい、出典を明記していますので、そちらで最終確認することをおすすめします。
      p 本サイト、本サイトのソースの利用によって生じたいかなる損害に対してもおふくろさまは一切の責任を負わないものとします。
