TagSelector(qTags=qTags selectedTags=selectedTags selectorOpened=selectorOpened tagSelectorState=tagSelectorState)

if index.length == 0
  Loading
else
  Paginator(header=header)
  section.question-index.index
    table.question-index.list
      tbody
        each question in index
          tr(key=question.id)
            th.id= question.id
            td.description
              a(href=question.uri rel=question.id onClick=showQuestion props=question)= question.description
            td.way= question.wayText
  Paginator(header=header)

