section.question-q.body
  section.question-q.tagged-tag-area
    if qTags
      ul.question-q.tagged-tag-body
        each tag in qTags
          li(key=tag.id).question-q.tagged-tag-tag
            Fa(icon='tag')
            a(href=tag.uri rel=tag.id onClick=showTaggedIndex)
              span.name= tag.display
    else
      Loading

  if question.hasPremise()
    section.question-q.premise
      h1.question-q.premise-title
        Fa(icon='file-text-o')
        | 共通の前文
      if premise
        section.question-q.premise-area
          div.question-q.q-text(dangerouslySetInnerHTML=premise.marked)
      else
        Loading

  section.question-q.text
    h1.question-q.q
      Fa(icon='question-circle')
      | 問題
  section.question-q.question-area
    div.question-q.q-text(dangerouslySetInnerHTML=question.marked)
  section.question-q.answer
    h1.question-q.a
      Fa(icon='exclamation-circle')
      = question.pleaseText

    section.question-q.answer-area
      AnswerOption(question=question options=question.options answers=answers result=result)

  if state == QuestionState.MARKED
    section.question-q.result-area
      div.question-q.mark-area
        if isCorrect()
          h1.question-q.mark.correct
            Fa(icon='thumbs-o-up')
            = resultText()
        else
          h1.question-q.mark.incorrect
            Fa(icon='hand-stop-o')
            = resultText()
      h1.question-q.correct-answer
        Fa(icon='graduation-cap')
        | 正解は...
      if question.isMultipleQuestions()
        ol
          each mark, index in result
            li(key=index)
              div.question-q.answer-area(dangerouslySetInnerHTML=mark.correctAnswer)
      else
        div.question-q.answer-area(dangerouslySetInnerHTML=result.correctAnswer)
  else
    section.question-q.control
      if state == QuestionState.ASKING
        button.question-q.button.submit.disabled(disabled=true)
          Fa(icon='graduation-cap')
          = ' '
          = question.pleaseText
      else if state == QuestionState.ASKED
        button.question-q.button.submit(onClick=submit)
          Fa(icon='graduation-cap')
          = ' '
          | 正解を確認する
      else if state == QuestionState.SUBMITTING
        button.question-q.button.submit.disabled(disabled=true)
          Fa(icon='spinner' animation='pulse')
          = ' '
          | 確認中...

  section.question-q.control-area
    section.question-q.next-questions-area
      if nextQuestions
        if nextQuestions.prevQ
          button.button.go-prev(key='prevQ' rel=nextQuestions.prevQ.id onClick=showQuestion)
            Fa(icon='arrow-circle-o-left')
            span.name 前の問題
        if nextQuestions.nextQ
          button.button.go-next(key='nextQ' rel=nextQuestions.nextQ.id onClick=showQuestion)
            span.name 次の問題
            Fa(icon='arrow-circle-o-right')

      button.button.go-back(onClick=goBack)
        Fa(icon='list')

    article.g-area
      ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-3716723339125586" data-ad-slot="9943408378" data-ad-format="auto")
      script
        | (adsbygoogle = window.adsbygoogle || []).push({});

    if question.hasSource() && sourceLink
      section.question-q.source-link-area
        h1.question-q.source-link-title
          Fa(icon='link')
          | 出典
        p
          Fa(icon='link')
          a(href=sourceLink.url)= sourceLink.display

